.spin {
    animation: spin .5s ease-in-out;
  }

#logo:hover,
#logo:focus-visible {
  animation: spin .5s ease-in-out;
}

@keyframes spin {
    from {
      transform: rotate(0deg) scale(1);
    }
    50% {
      transform: rotate(-180deg) scale(0.8);
    }
    to {
      transform: rotate(-360deg) scale(1);
    }
}