@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.menu {
  font-family: 'Bebas Neue', cursive;
  font-size: 1.6em;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(126, 182, 255));
  background-size: 100% 5px;
  background-repeat: no-repeat;
  background-position: 100% 0%;
    transition: background-size .7s, background-position .5s ease-in-out;
}

.menu:hover {
  background-size: 100% 100%;
  background-position: 0% 100%;
  color:#6298CA;
  transition: background-position .7s, background-size .5s ease-in-out;
}